@{
    ViewData["Title"] = "Login";
}

<div class="col-md-6">
    <h1>@ViewData["Title"]</h1>
    <form>
        <div class="form-group">
            <label for="txtNome">Nome</label>
            <input type="text" class="form-control" id="txtNome" placeholder="Seu nome">
            <small id="nomeHelp" class="form-text text-muted">Nunca compartilharemos suas informações com mais ninguém.</small>
        </div>
        <div class="form-group">
            <label for="txtSenha">Senha</label>
            <input type="password" class="form-control" id="txtSenha" placeholder="Senha">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="lblLembrar">
            <label class="form-check-label" for="lblLembrar">Lembrar-me</label>
        </div>
        <button type="button" id="btnEntrar" class="btn btn-primary">Entrar</button>
    </form>
</div>

@section Scripts
{
    <script src="~/js/layout.js"></script>
    <script src="~/js/Login/index.js"></script>
}

